.container {
  padding-right: 10px;
}

.scrollableContainer {
  display: flex;
  flex-direction: column; /* Stack children (content + footer) */
  min-height: 86.55vh; /* Ensures container fills the screen */
  max-height: 86.55vh; /* Prevents overflow beyond screen */
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
  }
}

.columnleft {
  width: 400px;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 2fr)); 
  gap: 10px; 
}

.card {
  width: 100%; 
  margin: 10px 0; 
}

.cardLink {
  text-decoration: none;
}

.cardContainer {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: left; 
}


.footer {
  width: 100%;
  height: 100px;
  background-color: #f8f9fa; /* Light gray background */
  padding: 15px;
  text-align: center;
  position: relative; /* Make sure it doesn't overlap content */
  margin-top: auto; /* Pushes it to the bottom */
}