.project-container {
    width: 90%;
    margin: auto;
    font-family: Arial, sans-serif;
    padding: 20px;
    margin-top: 50px; 
  }
  
  .project-content {
    background: #f8f8f8;
    padding: 60px; 
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1400px;
    margin: auto;
  }
  
  .project-title {
    font-size: 32px;
    font-weight: bold;
  }
  
  .project-description {
    font-size: 18px;
    margin-bottom: 30px;

  }
  
  .project-links {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    justify-content: center;
  }
  
  .project-link {
    padding: 8px 16px;
    background-color: #f0f0f0;
    border-radius: 4px;
    text-decoration: none;
    color: #0066cc;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .project-link:hover {
    background-color: #e0e0e0;
  }
  
  .project-media {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    gap: 30px;
  }
  
  .media-item {
    width: 22%;
    height: 250px; 
    border-radius: 10px;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: #666;
  }
  
  .collaborators {
    margin-top: 50px;
  }
  
  .collaborators h2 {
    font-size: 22px;
  }
  
  .collaborator-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 18px;
    font-weight: bold;
  }
  
  html, body {
    height: 100%;
    margin: 0;
  }
  
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 80px); 
    padding-bottom: 50px;
  }

  /* Youtube preview */

  .youtube-embed-container {
    margin: 30px 0;
    width: 100%;
    height: 100%;
  }
  
  .youtube-embed {
    position: relative;
    width: 100%;
    height: 80%;
    padding-bottom: 56%; /* 16:9 Aspect Ratio */
    overflow: hidden;
  }
  
  .youtube-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }